<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign-Up</title>
  </head>
  <body>
    <h1>Sign Up</h1>
    <form action="/user/signup" method="post">
      <label for="name">Name</label>
      <input type="text" required placeholder="Name" name="name" />
      <label for="email">Email</label>
      <input type="text" required placeholder="Email" name="email" />
      <label for="email">Password</label>
      <input type="text" required placeholder="Password" name="password" />
      <button type="submit">Sign-Up</button>
    </form>
  </body>
</html>
